@import "bourbon";
@import "vars.scss";

//Load Libs SASS
// @import "app/libs/animate/animate.sass";
@import "app/libs/animatewithsass/animate.scss";

*::-webkit-input-placeholder {
  color: #666666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666666;
}

//Custom Styles Here

//GRID

.wrap {
  // z-index: 22;
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @include clearfix;
}

.row {
  @include clearfix;
}

.half {
  width: 48.5%;
  background-color: $accent-color;
  border: 6px solid black;
  float: left;
  &:last-child {
    margin-left: 3%;
  }
}

img {
  max-width: 100%;
}

.third {
  background-color: $accent-color;
  border: 3px solid black;
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 35px;
  overflow: hidden;

  height: 0;
  padding-bottom: 18.75%; /* 16:9 */
  position: relative;
  img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
}

//HEADER

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background: $white;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-header {
  min-height: 600px;
  height: 100vh;
  padding-top: 50px;
  color: $silver;
  position: relative;
  .bg {
    background-color: #ccc;
    background: url(/img/main.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
  }
  .wrap {
    display: flex;
    min-height: 600px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}
.darken {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
}

.topline {
  padding: 15px;
  @include clearfix;
}

.main-logo {
  width: 150px;
  fill: $silver;
  stroke: $silver;
  float: left;
  svg {
    stroke: $silver;
    fill: $silver;
    transition: fill 0.25s ease, stroke 0.3s ease, transform 0.35s ease;
    &:hover {
      stroke: $accent-color;
      fill: $accent-color;
      transform: rotate(7deg);
    }
  }

}

.main-nav {
  float: right;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 15px;
  }
  a {
    color: $silver;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: color 0.25s ease;
    &:hover {
      color: $accent-color;
    }
  }
}

.lead {
  margin-top: 0;
  color: $silver;
  text-align: center;
}

.scroll-down {
  margin-top: 100px;
  bottom: 15px;
  text-align: center;
  a {
    fill: $silver;
    transition: fill 0.25s ease;
    &:hover {
      fill: $accent-color;
    }
  }
}

//MAIN

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  color: $h2-color;
  text-transform: uppercase;
  font-size: 2.5rem;
  border-bottom: 3px solid $h2-color;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

section {
  background-color: $white;
  padding: 5px 0;
}

.about-me {
  background: $silver;
}

.portfolio {
  .darken {
    opacity: 0;
  }
}

.gallery {
  width: 100%;
  height: 100%;
  img {
    transform: translateZ(0) scale(1.04);
    transition: transform 0.5s ease;
  }
  &:hover {
    .darken {
      opacity: 1;
    }
    .btn-wrap {
      opacity: 1;
      bottom: 0;
    }
    img {
      transform: translateZ(0) scale(1);

    }
  }
  .btn {
    display: block;
    float: left;
    width: 50%;
    background-color: $accent-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: $silver;
    padding: 10px 0;
    border-top: 3px solid black;
    transition: background-color, 0.3s ease;
    &:not(:last-child) {
      border-right: 3px solid black;
    }
    &:hover {
      background-color: darken($accent-color, 8%);
    }
  }
}

.btn-wrap {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.25s ease;
}



.bounceIn {
   @include bounceIn();
}

.zoomInUp {
  @include fadeInUp();
}

footer {
  background-color: $black;
  padding: 20px;
  color: $silver;
  text-align: center;
  a {
    color: $silver;
    transition: color 0.25s ease;
    &:hover {
      color: $accent-color;
    }
  }
}

//ALWAYS END
@import "media";
