@import "bourbon";
@import "vars.scss";

//Load Libs SASS
// @import "app/libs/animate/animate.sass";
@import "app/libs/animatewithsass/animate.scss";

*::-webkit-input-placeholder {
  color: #666666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666666;
}

//Custom Styles Here

//MAIN

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  color: $h2-color;
  text-transform: uppercase;
  font-size: 2.5rem;
  border-bottom: 3px solid $h2-color;
  margin-bottom: 50px;
}

h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: $accent-color;
  transition: color 0.25s ease;
  &:hover {
    color: darken($accent-color, 20%)
  }
}

section {
  background-color: $white;
  padding: 5px 0;
}

.about-me {
  background: $silver;
}

.portfolio {
  .darken {
    opacity: 0;
  }
}

figure {
  margin: 0;
}

.gallery {
  background-color: $accent-color;
  border: 3px solid black;
  overflow: hidden;

  height: 0; /*proportional div*/
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }

  img {
    transform: translateZ(0) scale(1.04);
    transition: transform 0.5s ease;
  }
  &:hover {
    .darken {
      opacity: 1;
    }
    .btn-wrap {
      opacity: 1;
      bottom: 0;
    }
    img {
      transform: translateZ(0) scale(1);

    }
  }
  .btn {
    display: block;
    float: left;
    width: 50%;
    background-color: $accent-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: $silver;
    padding: 10px 0;
    border-top: 3px solid black;
    transition: background-color, 0.3s ease;
    &:not(:last-child) {
      border-right: 3px solid black;
    }
    &:hover {
      background-color: darken($accent-color, 8%);
    }
  }
}

.btn-wrap {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.25s ease;
}



.bounceIn {
   @include bounceIn();
}

.zoomInUp {
  @include fadeInUp();
}

footer {
  background-color: $black;
  padding: 20px;
  color: $silver;
  text-align: center;
  a {
    color: $silver;
    transition: color 0.25s ease;
    &:hover {
      color: $accent-color;
    }
  }
}

//ALWAYS END
@import "media";
